<%- include('partials/header.ejs') %>

<% if (userLogged) { %>
<div class="container">
    <% if (error != '') { %>
    <div class="alert alert-danger"><%= error%></div>
    <% } %>


    <div class="list-group">
        <a href="/users" class="list-group-item list-group-item-action active">
            Usuários
        </a>
        <a href="/roles" class="list-group-item list-group-item-action">Permissões</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="/profile" class="list-group-item list-group-item-action">Profile deletar isso aqui</a>
        <a href="/logout" class="list-group-item list-group-item-action">Sair</a>
    </div>

    <% } else { %>

    <%- include('partials/login.ejs') %>

    <% } %>

    <%- include('partials/msg.ejs') %>
</div>

<%- include('partials/footer.ejs') %>