<%- include('../partials/header.ejs') %>

<div class="container">

    <h1>Usuários</h1>
    <% if (users.rows.length > 0) { %>


    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">RG</th>
                <th scope="col">CPF</th>
                <th scope="col">Nível</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <% users.rows.forEach(user => { %>
            <tr>
                <th scope="row"><%=user.id%></th>
                <td><a href="/user/<%=user.id%>"><%=user.name%></a></td>
                <td><%=user.email%></td>
                <td><%=user.rg%></td>
                <td><%=cpf.format(user.cpf)%></td>
                <td><%=user.Role.name%></td>
                <td>
                    <form action="/user/delete" method="POST">
                        <input type="hidden" name="id" value="<%=user.id%>">
                        <button class="btn btn-sm btn-danger" type="submit">Excluir</button>

                        <a class="btn btn-sm btn-warning" href="/user/edit/<%= user.id%>">Editar</a>
                    </form>
                </td>
            </tr>
            <% }) %>

        </tbody>
    </table>
    <div>
        <ul class="pagination justify-content-center">
            <li class="page-item <% if(users.previous<1){ %>disabled<%}%>">
                <a class="page-link" href="/users?page=<%=users.previous %>" tabindex="-1" aria-disabled="<% if(users.previous<1){ %>true<%}%>">
                &lt;&lt;</a>
            </li>
                <% for( let i = 0; i < users.pages; i++ ) { %>
            <li class=" page-item <% if (i+1 == users.page) { %>active<% } %>">
                <a class="page-link" href="/users?page=<%=i+1%>" aria-disabled="<% if (i+1 == users.page) { %>true<%}%>"><%=i+1%></a></li>
            <% } %>





            <li class=" page-item <% if(users.next > users.pages){ %>disabled<%}%>">
                <a class="page-link" href="/users?page=<%=users.next %>" tabindex="-1" aria-disabled="<% if(users.next > users.pages){ %>true<%}%>">
                &gt;&gt;</a>
            </li>
            
        </ul>
    </div>
    <% } else { %>
    <h4>Não há usuários cadastrados</h4>
    <% } %>

</div>

<%- include('../partials/footer.ejs') %>